.details {
	width: 400px;
	height: 800px;
	padding-left: 550px;
	padding-top: 100px;
}

input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 2px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 5px;
}

.detail-box {
	background-color: #f6f6f6;
	padding: 20px;
}