

.login{

	width: 400px;
	height: 800px;
	padding-left: 550px;
	padding-top: 100px;
}
 


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
 
}

input[type=submit] {
  background-color: #DB0011;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer; 
  border-radius: 5px;
  width: 100%; 

}

input[type=submit]:hover{
	opacity:0.8;
}
#signup {
  background-color: #000000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;

  
}

a{
	color:black;
	opacity: 0.5;
	font-size: 13px;
	float: right;
}

.login-box{

		background-color:#f6f6f6;
		padding: 20px;

}

</style>