
body {
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
}

body,#footer {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color:white;
  padding: 10px;
  text-align: left;
  font-size: 15px;
  color: black;
}



/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}




/* Style the footer */
#footer {
    background-color: #DB0011; 
    position: fixed;
    left: 0; 
    bottom: 0;
    text-align: center; 
    margin: 0px auto;
    width: 100%; 
    height: 30px;
    float: center; 
    font-size: 12px; 
    color: white; 
    padding-right: 10px; 
    padding-top: 5px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  background-color: #9FA1A4;
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
