html, body {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

.text-center {
	text-align: center;
}

.font-bold {
	font-weight: bold;
}

/* Style the header */
header {
	background-color: white;
	padding: 10px;
	text-align: left;
	font-size: 15px;
	color: black;
}

/* Style the navigation menu */
nav {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	background: #ccc;
	padding: 20px;
}

/* Style the footer */
#footer {
	background-color: #4d4d4d;
	text-align: center;
	margin: 0px auto;
	width: 100%;
	height: 46px;
	float: center;
	font-size: 18px;
	color: black;
	padding-right: 10px;
	padding-top: 5px;
}

.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidebar h3 {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #fff;
	display: block;
	transition: 0.3s;
}

.sidebar a:hover {
	color: #f1f1f1;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
	float: right;
}

.openbtn:hover {
	background-color: #444;
}

#main {
	background-color: #9FA1A4;
	transition: margin-left .5s;
	padding-right: 16px;
	padding-top: 8px;
	height: 70px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
	}
	.sidebar a {
		font-size: 18px;
	}
}

.navbar-button {
	background-color: #DB0011;
	border: none;
	color: white;
	padding: 10px 18px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 4px 4px;
	cursor: pointer;
	border-radius: 6px;
	opacity: 1;
}

.navbar-button:hover {
	opactiy: 0.8;
}