<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>OnlineAuction</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
<error-page>
   <error-code>404</error-code>
   <location>/error/pageNotFoundError.jsp</location>
</error-page>

<error-page>
   <error-code>403</error-code>
   <location>/error/forbiddenAccessError.jsp</location>
</error-page>
	<servlet>
		<servlet-name>index</servlet-name>
		<servlet-class>com.auctivity.controller.DefaultController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
</web-app>