.text-center {
	text-align: center;
}

.font-bold {
	font-weight: bold;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.form-container {
	width: 40%;
	padding: 40px;
	border-radius: 12px;
	background-color: #f6f6f6;
}

@media ( max-width : 555px) {
	.form-container {
		padding: 18px;
		width: 86vw;
	}
}

.signup-btn {
	font-size: 18px;
	background-color: #DB0011;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	cursor: pointer;
	border-radius: 6px;
	width: 92%;
	text-align: center;
	opacity: 1;
	border: none;
}

.signup-btn:hover {
	opacity: 0.8
}

.form-group {
	margin: 20px;
}

.form-input {
	margin-top: 4px;
	width: 100%;
	padding: 10px;
}